@import url('yui-custom.css') screen;


.sb_title
{
    font-family: Georgia, "Times New Roman" ,Times,serif !important;
    font-size: 18pt !important;
    margin-bottom: 3px !important;
    margin-top: 5px !important;
    line-height: 20pt !important;
    float: left;
    color: #000000;
}

sb_categories
{
    background: #FFFFFF;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.sb_summary
{
    background: #FFFFFF;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.moduleheading
{
    font-family: 'Trebuchet MS' ,Arial,Helvetica,Sans-serif;
    font-size: 24px;
    color: #363636;
    text-align: left;
}


.sbArchivePanel, .sbCategoryList
{
    overflow: hidden !important;
    width: inherit;
}
.sbArchiveCntPanel
{
    overflow: hidden !important;
    width: inherit;
}


.sb_archiveYearly, .sb_archiveMonthly, .sb_archiveCategories
{
    border: 1px solid #999999;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.sb_archiveYearly_hdr, .sb_archiveMonthly_hdr, .sb_archiveCategories_hdr
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
.sb_archiveMonthly_cnti, .sb_archiveYearly_cnti, .sb_archiveCategories_cnti
{
    margin: 2.5px;
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
}

.sb_archiveYearly_cnt, .sb_archiveMonthly_cnt, .sb_archiveCategories_cnt
{
    padding: 0 2.5px 2.5px 2.5px;
}

.modalBackgroundProgress
{
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
}
.updateProgress
{
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    position: absolute;
    width: 130px;
    height: 50px;
}
.updateProgressMessage
{
    margin: 3px;
    font-family: Trebuchet MS;
    font-size: small;
    vertical-align: middle;
}

.watermarked
{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
}


.hidden
{
    display: none;
}
.shown
{
    display: block;
}
.mod
{
    margin-bottom: 17px;
}

.mod .highlight h2, .mod .highlight h3, .mod .highlight h4
{
    font-family: georgia,times,serif;
    line-height: 1.1em;
}

.mod .highlight h2, .mod .highlight h3, .mod .highlight h4
{
    font-family: georgia,times,serif;
    font-size: 124.1%;
    line-height: 1.1em;
}
.mod .media
{
    float: left;
    margin-right: 10px;
    position: relative;
}
.headlines
{
    background: transparent url("images/map1.v12.png") no-repeat scroll -17px -3500px;
    width: 426px;
    float: left;
    border: 0 none;
    padding-left: 12px;
}
.sb_TopN_cont
{
    background: transparent url("images/map1.v12.png") no-repeat scroll -17px -3500px;
    width: 320px;
    float: left;
    border: 0 none;
    padding-left: 12px;
    text-align: left;
}
.list4 li
{
    background: transparent url("images/map1.v12.png") no-repeat scroll -6px -3144px;
    padding-left: 10px;
}

.list5 li
{
    background: transparent url("images/map1.v13.png") no-repeat scroll -5px -1792px;
    padding-left: 16px;
}

.size3 li
{
    font-family: georgia,times,serif;
    font-size: 124.1%;
}

.sb_date
{
    color: rgb(204, 204, 204);
    display: block;
    font-family: Helvetica;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 35px;
    left: -100px;
    letter-spacing: -2px;
    line-height: 35px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    width: 230px;
}
.sb_date_brick
{
    background-color: rgb(100, 152, 204);
    color: rgb(187, 213, 241);
    display: block;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 30px;
    letter-spacing: normal;
    line-height: 12px;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 5px;
    text-align: center;
    width: 45px;
}

.sb_small_date
{
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 5px;
    font-size: 12px;
}
.sb_small_date_brick
{
    float: left;
    font-style: normal;
    font-variant: normal;
    letter-spacing: normal;
    margin-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-size: 12px;
    text-transform: inherit;
}

.sb_summary, .sb_summary p
{
    font-family: Verdana;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: normal;
    margin-left: 0px;
    text-align: justify;
}

.content .sb_summary, .content .sb_summary p
{
    font-style: normal;
    font-variant: normal;
    margin-left: 0px;
    font-size: 14px;
    text-align: justify;
}

.sb_summary_media
{
    float: left;
    text-align: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sb_author, .sb_viewcount, .sb_commentcount
{
    font-size: 14px;
}
.notapproved
{
    color: red;
    font-style: italic;
    font-weight: lighter;
}
.sb_hv_story
{
    font-size: 124.1% !important;
    font-family: georgia,times,serif !important;
}
.sb_footer
{
    display: block;
    margin-bottom: 10px;
    clear: both;
}
.sb_author_ini
{
    padding-top: 26px;
    font-size: 14px;
}
.sb_author_related, .sb_comments_related, .sb_views_related
{
}
.sb_author_marker_related, .sb_comments_marker_related, .sb_views_marker_related, .sb_viewcount, sb_viewcounttext, sb_commentcounttext
{
    color: Gray;
}
.sb_separator
{
    color: Gray;
}
html, body, form, textarea
{
    outline: 0;
    margin: 0;
    padding: 0;
}

.sb_tags
{
}
.sb_tag
{
    font: 90% 'Arial Black' , 'Helvetica Neue' ,Arial,sans-serif !important;
    margin-right: 0.5em;
    text-transform: uppercase;
    color: #4B628A;
}

.sb_share
{
    float: right;
    margin-bottom: 5px;
}
.sb_shareCtl
{
    float: left;
    padding: 5px;
}
.sb_shareCtlV
{
    float: left;
    padding: 5px;
    clear: left;
}
.sb_shareL
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    margin-left: -80px;
    margin-right: 10px;
    position: absolute;
}
.TagCloud
{
    text-align: justify;
    width: 300px;
}
abbr
{
    cursor: pointer;
    text-decoration: underline;
}

#speedblog
{
    width: 665px;
}
.sb_700grid
{
    width: 665px;
    margin: auto;
}

.sb_normal
{
    width: 665px;
    margin: auto;
    overflow: hidden;
}

.sb_wide
{
    width: 900px;
    margin: auto;
    overflow: hidden;
}

.sb_gridmargin
{
    float: left;
    width: 22px;
    height: 1px;
}

.sb_gridcolumn
{
    float: left;
    width: 149px;
}
.sb_gridcolumnwide
{
    float: right;
    width: 494px;
    text-align: right;
}


a.sb_tpv_story1
{
    font-family: georgia,times,serif !important;
    font-size: 197% !important;
    line-height: 120% !important;
}
a.sb_tpv_story2
{
    font-family: georgia,times,serif !important;
    font-size: 138.1% !important;
    line-height: 120% !important;
}
a.sb_cv_story1
{
    font-family: georgia,times,serif !important;
    font-size: 124.1% !important;
    line-height: 1.1em !important;
}
a.sb_cv_story2
{
    font-family: georgia,times,serif !important;
    font-size: 114% !important;
}

.yui-gd2 div.first, .yui-gc2 div.first
{
    background-position: right -3500px;
    background: none;
    border: 0 none;
    margin-right: -1px;
    padding-right: 13px;
    position: relative;
}
.yui-gd div.first
{
    width: 201px;
}

.avatar
{
    width: 1%;
}
.rest
{
    width: 99%;
}
.fifty
{
    width: 49%;
}
.yui-gc div.first, .yui-gd .yui-u, .speedblog .yui-gd div.first, .speedblog .yui-gc div.first
{
    margin-right: 1px;
    padding-left: 10px;
    padding-right: 12px;
    width: 426px;
    vertical-align: top;
}

#top-story .story3
{
    background: transparent url("images/map1.v13.png") repeat-x scroll 0 -4500px;
    margin-top: 0.7em;
    padding-top: 1em;
}
.headline-list
{
    margin-top: 17px;
    padding: 17px 0 0 10px;
}
.yui-gc2 .yui-u
{
    background: transparent url("images/map1.v13.png") no-repeat scroll -17px -3500px;
    border: 0 none;
    padding-left: 12px;
    padding-right: 0;
    width: 201px;
    margin-left: 0;
    margin-right: 0;
    float: right;
    vertical-align: top;
}
#top-story .story1 .media
{
    float: left;
    margin: 0 12px 0 0;
    overflow: hidden;
}

.mod .media
{
    float: left;
}

.mod .media
{
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}


.mod .highlight h2, .mod .highlight h3, .mod .highlight h4
{
    font-family: georgia,times,serif;
    line-height: 1.1em;
}

.Normal, p, div, blockquote, td, tr, table
{
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.231;
}
.mod .highlight h2, .mod .highlight h3, .mod .highlight h4
{
    font-family: georgia,times,serif;
    font-size: 124.1%;
    line-height: 1.1em;
}
.mod .media
{
    float: left;
    margin-right: 10px;
    position: relative;
}


.headline-list ul li, .sb_archiveCategories_cnt ul li, .sb_archiveMonthly_cnt ul li, .sb_archiveYearly_cnt ul li, .headlines li
{
    list-style-image: none;
    list-style-type: none !important;
    font-size: 14px;
    font-family: georgia,times,serif;
}
.mod cite, .mod cite a
{
    color: #777777;
    font-family: arial,verdana,sans-serif;
    font-size: 77%;
}
.size3 li
{
    font-family: georgia,times,serif;
    font-size: 124.1%;
}

.sb_rounded
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    background: #FFFFFF url("images/inputshadow.gif.html") no-repeat scroll left top;
    border: 1px solid #999999;
    margin: 3px 0;
    padding: 3px 5px;
}


.padded
{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.sb_largebutton
{
    float: right;
    margin-left: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
    background: transparent url("images/button-large.gif") repeat-x scroll center top;
    border: 1px solid #999999;
    border-top: 0px;
    color: inherit;
    font-family: Arial,Helvetica,Calibri,sans-serif;
    margin: 0;
    overflow: visible;
    cursor: pointer;
    position: relative;
}
.sb_rsssmall
{
    float: right;
    margin-left: 3px;
    padding: 6px 8px;
    border: 0px solid #999999;
    overflow: visible;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}


.sb_smallbutton
{
    background: transparent url("images/button-small.gif") no-repeat scroll center top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    font-size: 11px;
    padding: 3px 6px 4px 6px;
    position: relative;
    border: 1px solid #999999;
    border-top: 0px;
    border-bottom: 0px;
    overflow: visible;
    cursor: pointer;
    position: relative;
    float: right;
    text-align: center;
}
.sb_smallbutton:hover
{
    background-position: center -42px;
}
.sb_largebutton:hover
{
    background-position: center -52px;
}
.leftpart
{
    float: left;
    display: inline;
}
.rightpart
{
    float: right;
    display: inline;
}

.sb_gravatarimg
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    display: inherit;
    border: solid 2px #FFFFFF;
    padding: 2px;
    float: left;
}


.sb_comments, .sb_pings
{
    margin-bottom: 10px;
    border: 0 none;
    float: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.sb_comments li, .sb_comments ul, .sb_comments ol, .sb_pings li, .sb_pings ul, .sb_pings ol
{
    background: transparent none repeat scroll 0 0;
    display: block;
    list-style-image: none;
    list-style-type: none;
}
.sb_announce
{
    background: none repeat scroll 0 0 #F2F6FA;
    border-color: #CCDDEE;
    border-bottom: 1px solid #DDDDDD;
    padding: 20px 5px;
    margin-top: 20px;
}
.sb_announce img
{
    float: left;
    height: auto;
    margin-right: 18px;
    margin-top: -5px;
}
.sb_comment_header
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    background: transparent url("images/header-grey.png") repeat scroll 0 0;
    height: auto;
    line-height: normal;
}
.sb_comment_header td
{
    vertical-align: middle;
}
.sb_header_avatar
{
    padding: 0;
    position: relative;
    width: 1%;
}

.sb_comment_header_meta
{
    padding-left: 8px;
}

.sb_comment_header cite
{
    font-size: 110%;
    font-weight: bold;
}
.sb_comment_header_time
{
    padding: 0 8px;
}

.sb_comment_message
{
    line-height: 1.42;
    margin: 1em 0;
}


.sb_comment_footer
{
    margin: 1em 0;
    overflow: hidden;
    clear: both;
}

.sb_comment_footer_left
{
    float: left;
    padding-top: 4px;
    width: 50%;
}

.sb_comment_footer_right
{
    float: right;
    text-align: right;
    width: 50%;
}
img, .sb_summary
{

}
input, select
{
    font-size: 12px;
}

.narrowwidth
{
    width: 250px !important;
}
.montanawidth
{
    width: 500px !important;
}
.standardwidth
{
    width: 650px !important;
}
.widewidth
{
    width: 800px !important;
}

table .bg1wall
{
    padding: 10px;
    border-spacing: 12px;
    border-collapse: separate;
}
table .bg1wall td
{
    vertical-align: top;
    text-align: left;
}
.bg1wall
{
    background: transparent url("images/bg1.jpg") no-repeat scroll 0 0;
    border: solid 1px #cdcdcd;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: 629px;
}
.pbHeader
{
    background: transparent url("images/sb-t-header.png") no-repeat;
    font-family: 'Trebuchet MS' ,Arial,Helvetica,Sans-serif;
    font-size: 12px;
    height: 15px;
    margin: -1px 0 0;
    text-align: left;
}

.pbContent
{
    background: transparent url("images/sb-t-content.png") repeat-y;
    color: #272727;
    font-family: 'Trebuchet MS' ,Arial,Helvetica,Sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0 17px;
    text-align: left;
}
.pbFooter
{
    background: transparent url("images/sb-t-footer.png") no-repeat;
    font-family: 'Trebuchet MS' ,Arial,Helvetica,Sans-serif;
    font-size: 12px;
    height: 19px;
    margin: 0;
    text-align: left;
}

.bg2wall
{
    width: 700px;
    padding: 0;
    margin: 0px 20px 20px 20px;
    text-align: left;
    background: #FFFFFF;
}

.bg2wall caption
{
    padding: 0 0 5px 0;
    font: italic 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

.bg2wall th, .hdr1
{
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url("images/bg_header.jpg") no-repeat;
}

.bg2wall th.nobg
{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

.bg2wall td
{
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}


.bg2wall td.alt
{
    background: #F5FAFA;
    color: #797268;
}

.bg2wall th.spec
{
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url("images/bullet1.gif") no-repeat;
    font: bold 10px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.bg2wall th.specalt
{
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url("images/bullet2.gif") no-repeat;
    font: bold 10px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}
.sb_help
{
    width: 700px;
}

div.settings_cnt1
{
    width: 695px;
    height: 350px;
}
div.settings_drag1
{
    width: 695px;
    height: 50px;
}
div.settings_bg1
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url("images/settings_bg1.png") repeat scroll 0 0;
    width: 695px;
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
}
div.settings_o1
{
    width: 695px;
    height: 350px;
    z-index: 20;
    position: absolute;
    left: 21px;
    top: 21px;
}
div.settings_close1
{
    position: absolute;
    width: 39px;
    height: 18px;
    font-size: 0px;
    top: 9px;
    left: 634px;
}
div.gridbuttons
{
    float: right;
    left: 50px;
    position: relative;
    top: -37px;
}

div.settings_close11
{
    font-size: 0;
    height: 18px;
    left: 735px;
    position: absolute;
    top: 28px;
    width: 39px;
    z-index: 100;
}
div.settings_cnt2
{
    width: 900px;
    height: 711px;
}
div.settings_drag2
{
    width: 900px;
    height: 50px;
}

div.settings_bg2
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url("images/settings_bg2.png") repeat scroll 0 0;
    width: 900px;
    height: 711px;
    left: 0;
    position: absolute;
    top: 0;
}
div.settings_o2
{
    width: 869px;
    height: 677px;
    z-index: 20;
    position: absolute;
    left: 21px;
    top: 21px;
}
div.settings_close2
{
    position: absolute;
    width: 39px;
    height: 18px;
    font-size: 0px;
    top: 9px;
    left: 834px;
}
div.settings_cnt0
{
    width: 605px;
    height: 309px;
}
div.settings_drag0
{
    width: 605px;
    height: 50px;
}

div.settings_cnt5
{
    width: 461px;
    height: 190px;
}
div.settings_drag5
{
    width: 461px;
    height: 50px;
}

div.settings_bg5
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url("images/settings_bg5.png") repeat scroll 0 0;
    width: 461px;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
}
div.settings_o5
{
    width: 420px;
    height: 150px;
    z-index: 20;
    position: absolute;
    left: 21px;
    top: 21px;
}
div.settings_close5
{
    position: absolute;
    width: 39px;
    height: 18px;
    font-size: 0px;
    top: 9px;
    left: 400px;
}
div.settings_bg0
{
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url("images/settings_bg0.png") repeat scroll 0 0;
    width: 605px;
    height: 309px;
    left: 0;
    position: absolute;
    top: 0;
}
div.settings_o0
{
    width: 570px;
    height: 290px;
    z-index: 20;
    position: absolute;
    left: 21px;
    top: 21px;
}
div.settings_close0
{
    position: absolute;
    width: 39px;
    height: 18px;
    font-size: 0px;
    top: 9px;
    left: 535px;
}
.ajax__validatorcallout div, .ajax__validatorcallout td
{
    background-color: LemonChiffon;
    border: 1px solid Black;
    padding: 6px 0 6px 12px;
}

.bg4
{
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    padding: 6px 6px 6px 12px;
    margin: 10px 10px 10px 10px;
    width: 500px;
}
.bg4 th
{
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2px 2px 2px 4px;
    background: #CAE8EA url("images/bg_header.jpg") no-repeat;
}

.bg5
{
    margin-left: 40px;
    margin-top: 5px;
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    border: 0px;
    text-align: left;
    vertical-align: top;
}
.sb_postoptions
{
    text-align: right;
}

.sb_topN
{
    font-size: 11px;
    line-height: 1.4em;
    position: relative;
}
.sb_topN a.sb_link
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #DDDDDD;
    display: block;
    height: 53px;
    overflow: hidden;
    text-decoration: none;
}
ol.sb_un li
{
    list-style: none outside none;
}

.sb_topN a.sb_link:hover
{
    background: none repeat scroll 0 0 #EEF4FF;
    border-color: #2266BB;
    color: #222222;
    text-decoration: none;
}
.topN_img_outer
{
    float: left;
    height: 50px;
    margin-right: 5px;
    margin-top: 2px;
    width: 95px;
}
.topN_img
{
    border: 0 none;
}
.topN_title
{
    display: block;
    padding-left: 5px;
    padding-top: 5px;
}
a.sb_link .topN_number
{
    background: none repeat scroll 0 0 #DDDDDD;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    margin-right: 2px;
    padding-top: 2px;
    text-align: center;
    width: 50px;
}
a.sb_link:hover .topN_number
{
    background: none repeat scroll 0 0 #2266BB;
    color: #FFFFFF;
}
.sb_full
{
    display: block;
}
.sb_defimg_prev
{
    height: 120px;
    width: 160px;
    overflow: hidden;
    float: left;
}
.sb_force
{
    color: #FFFFFF !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.tab
{
    float: left;
    font-size: 10px;
    font-family: Verdana;
    clear: both;
    margin-left: 20px;
}
.info
{
    color: Green;
    font: normal 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}
.error
{
    color: Red;
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
}

.ob_gFCont
{
    padding-right: 80px !important;
}


.ob_gPSTT
{
    float: right !important;
}


.ob_gFEC
{
    left: 0px !important;
    right: auto !important;
}


.ob_gFALC
{
    float: left !important;
}


.ob_gFAL
{
    float: left !important;
}


.ob_gALFS
{
    float: left !important;
}


.ob_gFP
{
    float: left !important;
    margin-left: 20px !important;
}
